<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="database.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="database.domain.Menu">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="rid" column="rid" jdbcType="INTEGER"/>
        <result property="menu" column="menu" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,rid,menu
    </sql>
</mapper>
