<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="database.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="database.domain.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="mail" column="mail" jdbcType="VARCHAR"/>
        <result property="expire" column="expire" jdbcType="TIMESTAMP"/>
        <result property="disabled" column="disabled" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,uid,password,
        name,mail,expire,
        disabled
    </sql>
</mapper>
